$small-cover: 264px;
$medium-cover: 500px;
$large-cover: 650px;
$container-size: 992px;

$light-background: #f8f9fa;

html {
  touch-action: manipulation;
}

body {
  background-color: darken($light-background, 5%);
  font-family: "Lato", sans-serif !important;
}

.crop {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

#fade-out {
  opacity: 0;
}
#fade-out-results {
  opacity: 0;
}

#cover {
  background: url(../img/corgi1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: $small-cover;
  max-width: $container-size;
  position: relative;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: $small-cover;
  background: rgba(0, 0, 0, 0.4);
}

h1 {
  // font-size: 2.5rem;
  font-size: 40px;
}

@media (min-width: 768px) {
  #cover {
    min-height: $medium-cover;
  }
  .dark-overlay {
    min-height: $medium-cover;
  }
  h1 {
    // font-size: 5rem;
    font-size: 80px;
  }
}

@media (min-width: 992px) {
  #cover {
    min-height: $large-cover;
    border-radius: 0px 0px 5px 5px;
  }
  .dark-overlay {
    min-height: $large-cover;
    max-width: $container-size;
    border-radius: 0px 0px 5px 5px;
  }
  h1 {
    // font-size: 6rem;
    font-size: 96px;
  }
}

.main-container {
  max-width: $container-size;
  margin: auto;
}
